@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
* {
    margin: 0%;
    padding: 0%;
    border: none;
    
}

body {
    font-family: sans-serif;
  
}


h2 {
    font-size: 250%;
    font-family: fantasy;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 250%;
    font-family: fantasy;
}

h4 {
    font-size: 250%;
    margin: 10px;
    font-family: fantasy;
}

/* header */

#logo {
    float: left;
    padding: 10px;
    color: #5a5a44;
    font-family: fantasy;
    font-size: 40px;
    text-align: start;
}

.nav-item {
    font-size: 140%;
    letter-spacing: 1px;
    margin: 0 30px;
    
}


/*main image */
#main-image{
    background: url('../images/main-image.jpg') no-repeat;
    background-size: 100% 100%;
    height: 800px;
    width: 100%;

}

/* about us section */ 

#about-us-title{
    background-color: #5a5a44;
    color: white;
    margin: 0%;
    padding-top: 30px;
    font-size: 250%;
}
    


#about-us {
   background: #5a5a44;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: space-around;
  
}

#about-us-image{
    width: 45%;
    height: 80%;
    background: url(../images/about-us-image.png);
    background-size: 100% 100%;
    
}

#about-us h2 {
    color: white;
}

#about-us-text {
    height: 80%;
    width: 45%;
    border: 2px solid white;
   
}

#about-us-text p{
    margin: 150px 50px 0 050px;
    font-size: 150%;
    color: white;
    text-align: center;
    line-height: 40px;
}


/* slideshow section */

#slideshow-section {
    height: 500px;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
}



#slideshow {
    border: 2px solid #5a5a44;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%; 
}

#slideshow p {
    font-size: 500%;
    text-align: center;
    font-family: Bebas Neue;
    color: #5a5a44;
    padding: 140px;
    text-align: center;
   
}


/* footer sections */

 #home-footer{
     background: #5a5a44;
     color: white;
     font-size: 150%;
     height: 300px;
     padding: 20px;
     text-align: center;
    
 }


#home-footer a {
    color: white;
}


 #activity-footer {
    background: white;
    color: #5a5a44;
    text-align: center;
    font-size: 150%;
    height: 300px;
    padding: 20px;
 }

 #activity-footer a {
     color: #5a5a5a;
 }

 #Facilities-footer {
        background: white;
        color: #5a5a44;
        text-align: center;
        font-size: 150%;
        height: 300px;
        padding: 20px;
 }

 #Facilities-footer a {
     color: #5a5a44;
 }


 footer li {
     display: inline-block;
     text-decoration: none;
     margin-right: 40px;
 }

 footer a {
     text-decoration: none;
 }

 footer a:hover {
     font-weight: bold;
     text-decoration: underline;
 }

 span {
     font-weight: bold;
     margin-left: 40px;
 }

                                        /* activities page */

#water {
    height: 700px;
    clear: both;
    position: relative;
    background: #5a5a44;
}


#land {
    height: 700px;
    background: white;
    position: relative;
}

#sky {
    height: 700px;
    background: #5a5a44;
    position: relative;
}

/* kayaking section */

.kayaking h3 {
    position: absolute;
    margin-left: 5%;
    top: 4%;
    color: white;
    letter-spacing: 2px;
}

#kayak-image {
    height: 70%;
    width: 42.5%;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    top: 10%;
    background: url('../images/kayak-image.jpg') no-repeat;
    background-size: 100% 100%;
    
}

.kayaking p {
    position: absolute;
    width: 42.5%;
    margin-left: 5%;
    bottom: 5%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

/* canoe section */

.canoeing h3 {
    position: absolute;
    left: 52.5%;
    top: 4%;
    color: white;
    letter-spacing: 2px;
}

#canoe-image {
    height: 70%;
    width: 42.5%;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 10%;
    background: url('../images/canoe-image.jpg') no-repeat;
    background-size: 100% 100%;
}

.canoeing p {
    position: absolute;
    right: 5%;
    width: 42.5%;
    margin-left: 5%;
    bottom: 5%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

/* archery section */

.archery h3 {
    position: absolute;
    margin-left: 5%;
    top: 4%;
    color: #5a5a5a;
    letter-spacing: 2px;
}

#archery-image {
    height: 70%;
    width: 42.5%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 10%;
    background: url('../images/archery.jpg') no-repeat;
    background-size: 100% 100%;
}

.archery p {
    position: absolute;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: #5a5a44;
}

/* rockclimbing section */

.rockclimbing h3 {
    position: absolute;
    left: 52.5%;
    top: 4%;
    color: #5a5a44;
    letter-spacing: 2px;
}

#rockclimbing-image {
    height: 70%;
    width: 42.5%;
    display: inline-block;
    margin-right: 5%;
    right: 0%;
    position: absolute;
    top: 10%;
    background: url('../images/rockclimbing.jpg') no-repeat;
    background-size: 100% 100%;
}

.rockclimbing p {
    position: absolute;
    right: 5%;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: #5a5a44;
}

/* skywalk section */

.skywalk h3 {
        position: absolute;
        margin-left: 5%;
        top: 4%;
        color: white;
        letter-spacing: 2px;
}

#skywalk-image {
    height: 70%;
    width: 42.5%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 10%;
    background: url('../images/skywalk-image.WebP') no-repeat;
    background-size: 100% 100%;
}

.skywalk p {
    position: absolute;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

/* petting-farm section */

.petting-farm h3 {
    position: absolute;
    left: 52.5%;
    top: 4%;
    color: white;
    letter-spacing: 2px;
}

#petting-farm-image {
    height: 70%;
    width: 42.5%;
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 10%;
    background: url('../images/petting-farm-image.WebP') no-repeat;
    background-size: 100% 100%;
}

.petting-farm p {
    position: absolute;
    right: 5%;
    width: 42.5%;
    margin-left: 5%;
    bottom: 10%;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}

                                        /* facilities page */

/* camping section */

#camping-section {
    clear: both;
    background: #5a5a44;
    height: 650px;
    width: 100%;
}

#camping-section h2 {
    color: white;
}

#camping-image {
    float: left;
    height: 70%;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    background: url('../images/camping-image.WebP') no-repeat;
    background-size: 100% 100%;
    
}

#camping-text {
    float: right;
    height: 70%;
    width: 45%;
    margin-right: 3%;
}

#camping-text p{
    margin: 80px 20px;
    font-size: 150%;
    color: white;
    text-align: center;
    line-height: 50px;
}

/* cabin section */

#cabin-section {
    background: white;
    height: 650px;
    width: 100%;
}

#cabin-section h2 {
    color: #5a5a44;
}

#cabin-image {
    float: left;
    height: 70%;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    background: url('../images/cabin-image.WebP') no-repeat;
    background-size: 100% 100%;
}

#cabin-text {
    float: right;
    height: 70%;
    width: 45%;
    margin-right: 3%;
}


#cabin-text p{
    margin: 80px 20px;
    font-size: 150%;
    color: #5a5a44;
    text-align: center;
    line-height: 50px;
}

/* restaurant section */

#restaurant-section {
    background: #5a5a44;
    height: 650px;
    width: 100%;
}

#restaurant-section h2 {
    color: white;
}

#restaurant-image {
    float: left;
    height: 70%;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    background: url('../images/restaurant-image.WebP') no-repeat;
    background-size: 100% 100%;
}

#restaurant-text {
    float: right;
    height: 70%;
    width: 45%;
    margin-right: 3%;
}

#restaurant-text p{
    margin: 80px 20px;
    font-size: 150%;
    color: white;
    text-align: center;
    line-height: 50px;
}